
a{
    color: #e3d6fd;
    text-decoration: none;
}

.box-input{
    background-color: #6327da ;
    border:1px solid #c8b3f2;
    border-radius:0.3rem;
    cursor: pointer;
}

.box-input input{
    cursor: pointer;
}
.box-input:hover{
    border:3px solid #ffe484;
    background-color: #5421b7;
}

input[type=text]:hover, .box-ctrl-k:hover{
    background-color: #5421b7;
}

.box-input>input{
    background-color: #6327da ;
    border: 0px;
}

.box-input>input::placeholder {
     color: #c8b3f2; 
}

.box-input>svg{
    fill: #c8b3f2; 
}
.box-ctrl-k{
    background-color:#6327da;
    border: 0px;
}
.ctrl-k{
        background-color: #4c1ea5; 
        color: #c8b3f2; 
}

.menu{
    color: #fff;  
}

.menu a{
    color:#e3d6fd;
    transition: all 0.2s;
}

.menu a:hover{
    color:#fff;

}




.nav-bar-purple{
    background-color: #702cf5;
}

.social svg, .social path{
fill:#e3d6fd;
}

.social svg:hover, .social path:hover{
    fill:#fff;
    }

.dropdown-white{
    color:#e3d6fd;
}

.dropdown-white:hover{
    color:#fff;
}

.dropdown-white path{
    fill:#e3d6fd;
}

.dropdown-white path:hover{
    fill:#fff;
}

.menu-colours svg{
    width: 1rem;
    height: 1rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    fill:#e3d6fd;
}

