.fondo-pulsera{
    background-image:url(../images/pulsera.jpg);
}

.fondo-anillo{
    background-image:url(../images/anillo.jpg);
}

.fondo-pendientes{
    background-image:url(../images/pendientes.jpg);
}

.fondo-collar{
    background-image:url(../images/collar.jpg);
}

.fondo-ring{
    background-image:url(../images/ring.jpg);
}


.fondo-pulsera, .fondo-anillo, .fondo-pendientes, .fondo-collar, .fondo-ring{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    transition: all 1s ease;
}

.fondo-pulsera:hover, .fondo-ring:hover{
    background-size: 110%;
    transition: all 1s ease;
}

.spacer-padding-top{
    padding-top: 12rem;
}

.btn-collection{
    background-color: #000;
    color:#fff;
}

.btn-collection svg{
    fill:#fff;
    width:1.6rem;
    height:auto;
}

.bg-color-blue{
    background-color: #dae8ee;
}

.bg-color-beige{
    background-color: #fcf4ed;
}
.color-gold{
    color:#a58a63;
}

.title-black{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.button-img:hover{
    background-color: #000;
    color:#a58a63;
}